body {
    background-color: #d9dcd6;
    flex-direction: column;
  }
  
  /*For header and navigation bar */
  
  .container {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d9dcd6;
    display: flex;
    justify-content: space-between;
    color: #596b7c;
  }
  
  .container h1 {
    display: inline-block;
    text-align: center;
    font-size: 48px;
  }
  
  
  .container navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  .container navbar ul {
    list-style-type: none;
  }
  
  .nav-link {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid;
  }
  
  .nav-link:hover { 
    border-bottom:2px solid ;
    color: white;
  }
  
  a {
    color: #312863;
    text-decoration: none;
  }

  .h1, h2, h3, h4 {
    text-align: center;
  }

  .div h1 {
    text-align: center;
  }

  .h1 h1 {
    text-align: center;
  }
  
  
  
  .image-fluid {
    height: 220px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/codingimage.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
  }
  
  .image-fluid h2 {
    margin-top: 100px ;
    color:#d9dcd6;
    text-align: right;
    font-style: italic;
  
  }
  
  .image2 {
    top: 18px;
    left: 30px;
    border: 3px #ffffff solid;
    height:190px;
    width: 190px;
  }
  
  .hero h2 {
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
    margin-top: 150px;
    margin-right: 40px;
  }
  
  
  #project-list {
    flex-wrap:wrap;
  }
  
  #project-list img {
    max-width: 100%;
    height:auto;
  }
  
  #Contact-Me ul {
    list-style-type: none;
  }
  
  #Contact-Me ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid;
  }
  
  
  #Contact-Me p:hover { 
    color: white;
  }
  
  #Contact-Me a:hover {
    border-bottom:2px solid ;
    color: white;
  }
  
  .h5, h5 {
    margin-top: 30px;
  }
  
  
  
  /* Accomadates the page to different sized screens */
  
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 10px;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header navbar ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      line-height: 1.5;
    }
  
    header navbar ul li a {
      font-size: 16px;
      font-weight: bold;
    }
  
  }